package item

import "errors"

var ErrNotFound = errors.New("item not found")

type Repository interface {
	Create(item *Item) error
	GetByID(id string) (*Item, error)
}

type Service interface {
	Create(name, description string) (*Item, error)
	GetByID(id string) (*Item, error)
}
