package item

import (
	"errors"

	"gorm.io/gorm"
)

type repo struct {
	db *gorm.DB
}

func NewRepository(db *gorm.DB) Repository {
	return &repo{db: db}
}

func (r *repo) Create(item *Item) error {
	return r.db.Create(item).Error
}

func (r *repo) GetByID(id string) (*Item, error) {
	var item Item

	result := r.db.First(&item, "id = ?", id)
	if result.Error != nil {
		if errors.Is(result.Error, gorm.ErrRecordNotFound) {
			return nil, ErrNotFound
		}
		return nil, result.Error
	}

	return &item, nil
}
