package bootstrap

import (
	"log"
	"os"

	"{{.Module}}/internal/domain"
	"gorm.io/driver/sqlite"
	"gorm.io/gorm"
)

func InitLogger() *log.Logger {
	return log.New(os.Stdout, "", log.LstdFlags|log.Lshortfile)
}

func DBConnection() (*gorm.DB, error) {
	db, err := gorm.Open(sqlite.Open("api.db"), &gorm.Config{})
	if err != nil {
		return nil, err
	}

	err = db.AutoMigrate(&domain.Item{})
	if err != nil {
		return nil, err
	}

	return db, nil
}
