package main

import (
	"log"

	"{{.Module}}/internal/user"
	"{{.Module}}/pkg/bootstrap"
	"github.com/gin-gonic/gin"
	"github.com/joho/godotenv"
)

func main() {
	// Cargamos variables de entorno (ignorar si no existe el archivo)
	_ = godotenv.Load()

	// Inicializamos logger y BD (SQLite en memoria/local)
	l := bootstrap.InitLogger()
	db, err := bootstrap.DBConnection()
	if err != nil {
		l.Fatal(err)
	}

	// Instanciamos el router de Gin
	router := gin.Default()

	// Inyección de dependencias para User
	userRepo := user.NewRepo(l, db)
	userService := user.NewService(userRepo)
	userEnd := user.MakeEndpoints(userService)

	// Registramos los endpoints de User
	userGroup := router.Group("/users")
	{
		userGroup.POST("", userEnd.Create)
		userGroup.GET("/:id", userEnd.Get)
		userGroup.GET("", userEnd.GetAll)
		userGroup.PATCH("/:id", userEnd.Update)
		userGroup.DELETE("/:id", userEnd.Delete)
	}

	log.Println("Server running on port 8000")
	// Levantamos el servidor
	if err := router.Run(":8000"); err != nil {
		l.Fatal(err)
	}
}
