class CreateItems < ActiveRecord::Migration[7.1]
  def change
    create_table :items, id: :string do |t|
      t.string :name, null: false
      t.text :description
      t.string :status, default: "active"

      t.timestamps
    end

    add_index :items, :name
  end
end
