package item

import (
	"fmt"
	"log"
	"time"

	"github.com/google/uuid"
)

type Service interface {
	Create(name, description string) (*Item, error)
	GetByID(id string) (*Item, error)
}

type service struct {
	log  *log.Logger
	repo Repository
}

func NewService(log *log.Logger, repo Repository) Service {
	return &service{log: log, repo: repo}
}

func (s *service) Create(name, description string) (*Item, error) {
	s.log.Println("Create item service")

	item := &Item{
		ID:          uuid.New().String(),
		Name:        name,
		Description: description,
		Status:      "active",
		CreatedAt:   time.Now(),
	}

	if err := s.repo.Create(item); err != nil {
		return nil, fmt.Errorf("creating item: %w", err)
	}

	return item, nil
}

func (s *service) GetByID(id string) (*Item, error) {
	item, err := s.repo.GetByID(id)
	if err != nil {
		return nil, fmt.Errorf("getting item: %w", err)
	}

	return item, nil
}
